<?xml version='1.0' encoding='utf-8'?>
<widget id="luckypig3400.cordova.osgb" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <icon src="www/img/logo.png" />
    <!-- https://cordova.apache.org/docs/en/latest/config_ref/images.html -->
    <name>OSGB-離線小遊戲盒</name>
    <description>OSGB-OfflineSmallGamesBox</description>
    <author email="twHenryYang@gmail.com" href="https://github.com/luckypig3400">
        LuckyPig3400
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
